@font-face {
    font-family: "TT Lakes";
    src: url("/style/fonts/TTLakes-Bold.woff2") format("woff2"),
        url("/style/fonts/TTLakes-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Lakes";
    src: url("/style/fonts/TTLakes-Medium.woff2") format("woff2"),
        url("/style/fonts/TTLakes-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Lakes";
    src: url("/style/fonts/TTLakes-Regular.woff2") format("woff2"),
        url("/style/fonts/TTLakes-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: "TT Lakes";
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8F8F8;
} 
.expanded {
    max-height: none !important;
    overflow: visible !important;
}
@media (min-width: 560px) and (max-width: 820px) {
    .brends__cards{
      width: 224px;
      height: 72px;
      margin-right: 24px;
    }
}
.brends__title--texti {
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    font-weight: 400;
    padding: 16px;
    margin: 0;
}
.brends__items {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-left: 20px;
    max-height: 160px;
    transition: max-height 0.5s ease;
}
.brends__cards {
    background-color: #FFFFFF;
    border: 1px #EAEAEA;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 240px;
    max-height: 72px;
    margin-right: 24px;
    margin-bottom: 16px;
}
.brends__cards--logo {
    padding: 16px 0 16px 16px;
}
.brends__cards--btn{
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
} 
.brends__cards--btn:after{
    position: absolute;
    top: 13px;;
    left: 12px;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-left: 3px solid #FF3E79;
    border-bottom: 3px solid #FF3E79;
    border-radius: 20%;
    transform: rotate(-135deg);
    background-color: #FFFFFF;
}

.brends__cards--arrow {
    padding: 16px 16px 16px 0;
    max-width: 100%;
}

@media (min-width: 0px) and (max-width: 550px) {
    .brends__items {
      display: flex;
      flex-wrap: nowrap;
    }
}
@media screen and (max-width: 550px) {
    .brends__btn {
      display: none;
    }
    .brends__btn--img{
        display: none;
    }
    .brends__btn--text{
        display: none;
    }
}
.brends__btn {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
}
.brends__btn--text {
    font-family: "TT Lakes";
    font-weight: 500;
    float: right;
    padding-left: 8px;
}  
.brends__btn--img {
    height: 24px;
    width: 24px;
} 
.rotate {
    transform: rotate(180deg);
}
/*            */
.swiper-pagination-bullet{
    background: #DDDDDD;
}
.swiper-pagination-bullet-active{
    background: #B5B6BC;
    ;
}
@media screen and (max-width: 575px) {
    .brends {
      margin: 16px;
      min-height: 100%;
    }
    .brends__cards{
        width: 224px;
    }
    .brends__items{
        padding: 0 0 20px 0;
    }
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 16px;
}
