 .header-menu {
     @media screen and (min-width: $screen-lg) {
        @include hide;
    }
    @include flex-sb-c(0);
    padding: 20px 16px 16px 16px;
    flex-wrap: nowrap;
    @media screen and (max-width: $screen-lg) {
        border-bottom: 1px solid #b8ffec;
        background: $bg-white;
    }
    &__burger{
        @include wh;
        background: url('./images/icons-btn/burger.svg');
    }
    &__logo{
        padding: 0 0 0 15px;
    }
    &__left{
        @include flex-sb-c(0);
    }
    &__call{
        @include wh;
        margin-left: 200px;
        background: url('./images/icons-btn/call.svg');
    }
    &__chat{
        @include wh;
        margin: 0 12px 0 12px;
        background: url('./images/icons-btn/chat.svg');
    }
    &__profile{
        @include wh;
        background: url('./images/icons-btn/profile.svg');
    }
    &__right{
        @include flex-sb-c(0);
        @media screen and (max-width: 710px) {
            @include hide;
        }
    }
    &__repair{
        @include wh;
        margin: 0 12px 0 0;
        background: url('./images/icons-btn/repair.svg');
    }
    &__chec{
        @include wh;
        background: url('./images/icons-btn/checkstatus.svg');
    }
    &__servis{
        @include flex-sb-c(0);
    }
} 
.header-two{
    @media screen and (max-width: $screen-lg) {
        @include hide;
    }
    padding: 42px 30px 0 34px;
    width: 100%;
    &__pc{
        @include flex-sb-c(0);
    }
    .about__title {
        position: relative;
        margin: 0 0 0 32px;
        font-size: $text-main;
        line-height: 40px;
        letter-spacing: -0.6px; 
    }
    .about__title:before{
        content: "";
        background-image: url('./images/pointer/highlight.svg');
        width: 4px;
        height: 40px;
        left: -30px;
        gap: 0px;
        position: absolute;
        display: inline-block;
    }
    .breakage{
        @include flex-sb-c(32px);
    }
    .breakage__iconca{
        padding-right: 10px;
    }
}

