.info{
    &__title{
        font-size: $text-main;
        padding: 24px 16px 0 16px ;
        @media screen and (min-width: $screen-lg) {
            @include hide;
        }
    }
    &__title:before{
        content: "";
        background-image: url('./images/pointer/highlight.svg');
        width: 4px;
        height: 40px;
        left: 0px;
        gap: 0px;
        position: absolute;
        display: inline-block;
    }

}
.navi{
    @include flex-sb-c(0);
    @media screen and (min-width: $screen-lg) {
        overflow-x: visible;
    }
    overflow: scroll;
    flex-wrap: nowrap;
    padding: 0;
    margin: 32px 20px 0 24px;
    &::-webkit-scrollbar{
        width: 0;
    }
    &__item {
        @media screen and (min-width: $screen-lg) {
            flex-wrap: wrap;
        }
        display: inline-block;
        white-space: nowrap;
        padding: 8px;
        margin: 6px;
    }
    &__item:hover, &__item:active {
        border: 2px solid #b8ffec;
        border-radius: 8px;
        background-color: $bg-white;
    }
}