@media screen and (max-width: $screen-lg) {
    .menu {
      transition: 200ms ease-in-out;
      &__box {
        transition: 400ms ease-in-out;
        translate: 0;
      }
    }
    
    .menu.open {
      visibility: visible;
      opacity: 100%;
      & .modal__box {
        translate: 320px;
      }
    }
  }