 .sec-price{
    &__box{
        padding-top: 50px;
    }
    &__title{
        display: inline-block;
        font-size: $text-middle;
        color: $text-gray;
        padding: 24px 16px 20px 16px;
        font-weight: 400;
        @media screen and (max-width: $screen-sm) { 
           padding-bottom: 20px;
        };
    }
    &__footnote{
        display: block;
        font-size: $text-low;
        color: $text-gray;
    }
    &__footer{
        display: flex;
        padding: 24px 0 16px 20px;
    }
    &__a{
        display: flex;
        color: $text-black;
        font-weight: 300;
        padding-left: 20px;
        position: relative;
    }
    &__a::before{
        position: absolute;
        top: 9px;
        left: 316px;
        content: '';
        width: 8px;
        height: 8px;
        border-left: 3px solid $pink;
        border-bottom: 3px solid $pink;
        border-radius: 20%;
        transform: rotate(-135deg);
    }
}
.price-list{
    padding: 20px;
    padding-top: 0;
    &__th{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        margin-bottom: 20px;
        @media screen and (max-width: $screen-md) { 
            flex-direction: row;
        };
        @media screen and (min-width: $screen-md) {
            margin-left: 20px; 
            margin-right: 20px;
        };
    }
    
    &__item{
        background-color: $bg-white;
        @include flex-sb-c(0);
        padding: 16px;
        margin-right: 16px;
        border-bottom: 1px solid $g-lightgray;
        @media screen and (max-width: $screen-md) { 
            flex-direction: column;
            width: 260px;
            height: 200px;

        };
    }
    &__services{
        width: 388px;
        @media screen and (max-width: $screen-md) {
            width: 100%;
        };
    } 
    &__ser{
        width: 388px;
    }
    &__price{
        width: 82px;
        @media screen and (max-width: $screen-md) {
            width: 100%;
        };
    }
    &__prc{
        width: 140px;
    }
    &__price--one {
        padding-right: 32px;
        @media screen and (max-width: $screen-md) {
            width: 100%;
        };
    } 
    &__period--one {
        padding-right: 32px;
        @media screen and (max-width: $screen-md) {
            width: 100%;
        };
    }
    &__period{
        @media screen and (max-width: $screen-md) {
            width: 100%;
        };
    }
    &__prd{
        width: 82px;
    }
    &__btn{
        display: block;
        position: relative;
        background-color: $pink;
        border-radius: 35px;
        right: 32px;
        cursor: pointer;
        height: 32px;
        width: 136px;
        color: $bg-white;
    }

}   