.swiper-pagination-bullet{
    top:80px;
    width: 12px;
    height: 12px;
    background-color: #DDD;
}
.swiper-pagination-bullet-active {
    background: #B5B6BC;
 }

.swiper-paginationBrands, .swiper-paginationTech, .swiper-paginationPrice{
    display: flex;
    justify-content: center;
    @media screen and (min-width: 576px){
        display: none;
    };
}   
.swiper-paginationPrice{
    top: 60px;
}