@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Bold.woff2") format("woff2"), url("./fonts/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Medium.woff2") format("woff2"), url("./fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Regular.woff2") format("woff2"), url("./fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "TT Lakes", sans-serif;
  background-color: #F8F8F8;
}

button {
  background-color: transparent;
  border: none;
  font-family: "TT Lakes", sans-serif;
  max-height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  cursor: pointer;
  justify-content: center;
  opacity: 90%;
  transition: 300ms ease-in-out;
}
button:hover {
  opacity: 100%;
}

a {
  text-decoration: none;
  height: 40px;
  font-weight: 400;
  color: #7E7E82;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.hide {
  display: none;
}

.rotate {
  transform: rotateX(180deg);
}

input, textarea {
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
}

/*--------------------*/
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ul li {
  list-style: none;
}

@media (min-width: 993px) {
  .menu {
    height: 1800px;
    float: left;
  }
}
.menu__box {
  background: #FFF;
  width: 320px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 24px;
}
@media screen and (max-width: 360px) {
  .menu__box {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .menu__box, .menu .hide {
    display: none;
  }
}

.open {
  display: block;
  position: fixed;
  box-shadow: 16px 0px 52px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999999;
}

.clos {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: scroll;
  -ms-overflow-width: none;
}
.clos::-webkit-scrollbar,
.clos .scrollbar-non::-webkit-scrollbar {
  display: none;
}

.nav {
  margin-bottom: auto;
}
.nav__menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 12px;
}
@media screen and (min-height: 768px) {
  .nav__menu {
    gap: 24px;
  }
}
.nav__item {
  position: relative;
  width: 100%;
  height: 32px;
  padding-bottom: 32px;
  transition: 200ms ease-in-out;
}
.nav__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  transition: 150ms ease-in;
}
@media screen and (min-width: 1920px) {
  .nav__link {
    display: none;
  }
}
.nav__link:hover {
  color: #7E7E82;
  padding-left: 12px;
  opacity: 0.9;
}
.nav__link:hover::before {
  content: "";
  left: 0;
  position: absolute;
  background-color: #41F6D7;
  width: 5px;
  height: 32px;
  border-radius: 2px;
  left: -36px;
}

.menu-footer {
  padding-left: 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 12px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.menu-footer__call {
  width: 40px;
  height: 40px;
  background: url("./images/icons-btn/call.svg");
}
.menu-footer__chat {
  width: 40px;
  height: 40px;
  background: url("./images/icons-btn/chat.svg");
}
.menu-footer__profile {
  width: 40px;
  height: 40px;
  background: url("./images/icons-btn/profile.svg");
}
.menu-footer__btn-grup {
  display: flex;
  gap: 16px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.menu-footer__info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 0;
}
.menu-footer__tel {
  font-size: 24px;
  font-weight: 700;
}
.menu-footer__lang {
  display: flex;
  gap: 10px;
}
.menu-footer__lang-btn:hover, .menu-footer__lang-btn:focus {
  color: #7E7E82;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 30px 22px 30px 0;
}
@media screen and (max-width: 360px) {
  .menu-header {
    width: 100%;
  }
}
.menu-header__logo {
  width: 98px;
}
.menu-header__btn {
  background: url("./images/icons-btn/search.svg");
  background-size: cover;
  width: 40px;
  height: 40px;
  padding-right: 22px;
}
.menu-header__cloyse {
  background: url("./images/icons-btn/cloyse.svg");
  background-size: cover;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 992px) {
  .menu-header__cloyse {
    display: none;
  }
}

.modal-call__box {
  position: fixed;
  right: 0;
  top: 0;
  background: #FFF;
  width: 440px;
  height: 100%;
}
@media screen and (max-width: 576px) {
  .modal-call__box {
    width: 320px;
  }
}
.modal-call__box, .modal-call .hidenn {
  display: none;
}
.modal-call__title {
  font-size: 28px;
  color: #1B1C21;
  padding: 40px 0 24px 16px;
}
.modal-call__title:before {
  content: "";
  background-image: url("./images/pointer/highlight.svg");
  width: 4px;
  height: 35px;
  left: 0;
  gap: 0px;
  position: absolute;
  display: inline-block;
}
.modal-call__button {
  padding: 24px 0 0 16px;
}
.modal-call__cloyse {
  background: url("./images/icons-btn/cloyse.svg");
  background-size: cover;
  width: 40px;
  height: 40px;
}
.modal-call__text {
  padding: 16px;
  font-size: 14px;
  color: #7E7E82;
}
.modal-call__text--pink {
  color: #FF3E79;
}
.modal-call__btn {
  background-color: #FF3E79;
  border-radius: 35px;
  position: absolute;
  right: 32px;
  cursor: pointer;
  height: 32px;
  width: 136px;
  color: #FFF;
}
.modal-call input {
  margin-left: 16px;
  padding: 10px;
  width: 100%;
  max-width: 376px;
  border: 2px solid #EAEAEA;
  border-radius: 15px;
  opacity: 0.5;
}

.call-clos {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: scroll;
  -ms-overflow-width: none;
}
.call-clos::-webkit-scrollbar,
.call-clos .scrollbar-non::-webkit-scrollbar {
  display: none;
}

.call-open {
  display: block;
  position: fixed;
  box-shadow: 16px 0px 52px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999999;
}

.modal-chat__box {
  position: fixed;
  right: 0;
  top: 0;
  background: #FFF;
  max-width: 440px;
  height: 100%;
}
@media screen and (max-width: 576px) {
  .modal-chat__box {
    width: 320px;
  }
}
.modal-chat__box, .modal-chat .hidenn {
  display: none;
}
.modal-chat__title {
  font-size: 28px;
  color: #1B1C21;
  padding: 40px 0 24px 16px;
}
.modal-chat__title:before {
  content: "";
  background-image: url("./images/pointer/highlight.svg");
  width: 4px;
  height: 35px;
  left: 0;
  gap: 0px;
  position: absolute;
  display: inline-block;
}
.modal-chat__button {
  padding: 24px 0 0 16px;
}
.modal-chat__cloyse {
  background: url("./images/icons-btn/cloyse.svg");
  background-size: cover;
  width: 40px;
  height: 40px;
}
.modal-chat__text {
  padding: 16px;
  font-size: 14px;
  color: #7E7E82;
}
.modal-chat__text--pink {
  color: #FF3E79;
}
.modal-chat__btn {
  background-color: #FF3E79;
  border-radius: 35px;
  position: absolute;
  right: 32px;
  cursor: pointer;
  height: 32px;
  width: 136px;
  color: #FFF;
}
.modal-chat input {
  box-sizing: border-box;
  margin: 0 16px 16px 16px;
  padding: 10px;
  width: 100%;
  max-width: 376px;
  min-width: 200px;
  border: 2px solid #EAEAEA;
  border-radius: 15px;
  opacity: 0.5;
}
.modal-chat textarea {
  margin: 0 16px 16px 16px;
  padding: 10px;
  width: 100%;
  max-width: 376px;
  height: 118px;
  border: 2px solid #EAEAEA;
  border-radius: 15px;
  opacity: 0.5;
}

.call-clos {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: scroll;
  -ms-overflow-width: none;
}
.call-clos::-webkit-scrollbar,
.call-clos .scrollbar-non::-webkit-scrollbar {
  display: none;
}

.call-open {
  display: block;
  position: fixed;
  box-shadow: 16px 0px 52px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999999;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 20px 16px 16px 16px;
  flex-wrap: nowrap;
}
@media screen and (min-width: 992px) {
  .header-menu {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .header-menu {
    border-bottom: 1px solid #b8ffec;
    background: #FFF;
  }
}
.header-menu__burger {
  width: 40px;
  height: 40px;
  background: url("./images/icons-btn/burger.svg");
}
.header-menu__logo {
  padding: 0 0 0 15px;
}
.header-menu__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.header-menu__call {
  width: 40px;
  height: 40px;
  margin-left: 200px;
  background: url("./images/icons-btn/call.svg");
}
.header-menu__chat {
  width: 40px;
  height: 40px;
  margin: 0 12px 0 12px;
  background: url("./images/icons-btn/chat.svg");
}
.header-menu__profile {
  width: 40px;
  height: 40px;
  background: url("./images/icons-btn/profile.svg");
}
.header-menu__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media screen and (max-width: 710px) {
  .header-menu__right {
    display: none;
  }
}
.header-menu__repair {
  width: 40px;
  height: 40px;
  margin: 0 12px 0 0;
  background: url("./images/icons-btn/repair.svg");
}
.header-menu__chec {
  width: 40px;
  height: 40px;
  background: url("./images/icons-btn/checkstatus.svg");
}
.header-menu__servis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.header-two {
  padding: 42px 30px 0 34px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .header-two {
    display: none;
  }
}
.header-two__pc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.header-two .about__title {
  position: relative;
  margin: 0 0 0 32px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
}
.header-two .about__title:before {
  content: "";
  background-image: url("./images/pointer/highlight.svg");
  width: 4px;
  height: 40px;
  left: -30px;
  gap: 0px;
  position: absolute;
  display: inline-block;
}
.header-two .breakage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.header-two .breakage__iconca {
  padding-right: 10px;
}

.info__title {
  font-size: 28px;
  padding: 24px 16px 0 16px;
}
@media screen and (min-width: 992px) {
  .info__title {
    display: none;
  }
}
.info__title:before {
  content: "";
  background-image: url("./images/pointer/highlight.svg");
  width: 4px;
  height: 40px;
  left: 0px;
  gap: 0px;
  position: absolute;
  display: inline-block;
}

.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  overflow: scroll;
  flex-wrap: nowrap;
  padding: 0;
  margin: 32px 20px 0 24px;
}
@media screen and (min-width: 992px) {
  .navi {
    overflow-x: visible;
  }
}
.navi::-webkit-scrollbar {
  width: 0;
}
.navi__item {
  display: inline-block;
  white-space: nowrap;
  padding: 8px;
  margin: 6px;
}
@media screen and (min-width: 992px) {
  .navi__item {
    flex-wrap: wrap;
  }
}
.navi__item:hover, .navi__item:active {
  border: 2px solid #b8ffec;
  border-radius: 8px;
  background-color: #FFF;
}

@media screen and (max-width: 576px) {
  .brends {
    margin: 16px;
  }
}
.brends__title {
  display: inline-block;
  font-size: 16px;
  color: #7E7E82;
  padding: 24px 16px 0 16px;
  font-weight: 400;
}
.brends__items {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-left: 20px;
  max-height: 160px;
  transition: max-height 0.5s ease;
}
@media (max-width: 576px) {
  .brends__items {
    flex-wrap: nowrap;
    padding: 0 0 20px 0;
  }
}
@media (min-width: 576px) {
  .brends__items {
    max-height: 160px !important;
    overflow: hidden !important;
  }
}
.brends__cards {
  background-color: #FFF;
  border: 1px #EAEAEA;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  max-width: 240px;
  max-height: 72px;
  margin-right: 24px;
  margin-bottom: 16px;
}
@media screen and (max-width: 576px) {
  .brends__cards {
    width: 224px;
  }
}
.brends__cards--logo {
  padding: 16px 0 16px 16px;
}
.brends__cards--btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: 3px solid #FF3E79;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
}
.brends__cards--btn:after {
  position: absolute;
  top: 13px;
  left: 12px;
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-left: 3px solid #FF3E79;
  border-bottom: 3px solid #FF3E79;
  border-radius: 20%;
  transform: rotate(-135deg);
  background-color: #FFF;
}
.brends__cards--arrow {
  padding: 16px 16px 16px 0;
  max-width: 100%;
}
.brends__btn {
  color: #1B1C21;
  font-weight: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
}
@media (max-width: 576px) {
  .brends__btn {
    display: none;
  }
}

.rotate {
  transform: rotate(180deg);
}

.collapsed {
  max-height: 160px !important;
}

.expanded {
  max-height: none !important;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
@media (max-width: 576px) {
  .description {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 320px) {
  .description__img img {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .description__img img {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .description__img img {
    width: 532px;
  }
}
@media screen and (min-width: 576px) {
  .description__img img {
    border-radius: 6px;
  }
}

.description-company {
  padding-left: 34px;
  color: #7E7E82;
}
@media (max-width: 576px) {
  .description-company {
    padding-left: 24px;
  }
}
@media (max-width: 320px) {
  .description-company {
    padding-left: 16px;
  }
}
.description-company__further {
  letter-spacing: -0.2px;
  color: #1B1C21;
  font-weight: 100;
}
@media (min-width: 1030px) {
  .description-company__further {
    display: none;
  }
}
.description-company__texti {
  display: none;
}
@media (min-width: 1030px) {
  .description-company__texti {
    display: block;
  }
}

.expend {
  display: block;
}

.sec-tech {
  padding-top: 50px;
}
@media (max-width: 768px) {
  .sec-tech {
    padding-top: 28px;
  }
}
.sec-tech__title {
  display: inline-block;
  font-size: 16px;
  color: #7E7E82;
  padding: 0 16px 0 16px;
  font-weight: 400;
}

.technic__list {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  max-height: 160px;
  transition: max-height 0.5s ease;
}
@media (max-width: 576px) {
  .technic__list {
    flex-wrap: nowrap;
    padding: 0 0 20px 0;
  }
}
@media (min-width: 576px) {
  .technic__list {
    max-height: 160px !important;
    overflow: hidden !important;
  }
}
.technic__item {
  background-color: #FFF;
  border: 1px #EAEAEA;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 240px;
  height: 160px;
  margin-right: 24px;
  margin-bottom: 16px;
}
@media screen and (max-width: 576px) {
  .technic__item {
    width: 224px;
  }
}
.technic__text {
  align-self: start;
  padding: 16px 0 0 16px;
}
.technic__button {
  align-self: flex-end;
  padding: 0 16px 16px 0;
}
.technic__btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: 3px solid #FF3E79;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
}
.technic__btn:after {
  position: absolute;
  top: 13px;
  left: 12px;
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-left: 3px solid #FF3E79;
  border-bottom: 3px solid #FF3E79;
  border-radius: 20%;
  transform: rotate(-135deg);
  background-color: #FFF;
}
.technic__b {
  color: #1B1C21;
  font-weight: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
}
@media (max-width: 576px) {
  .technic__b {
    display: none;
  }
}

.rotates {
  transform: rotate(180deg);
}

.collapsed {
  max-height: 160px !important;
}

.expanded {
  max-height: none !important;
}

.sec-price__box {
  padding-top: 50px;
}
.sec-price__title {
  display: inline-block;
  font-size: 16px;
  color: #7E7E82;
  padding: 24px 16px 20px 16px;
  font-weight: 400;
}
@media screen and (max-width: 576px) {
  .sec-price__title {
    padding-bottom: 20px;
  }
}
.sec-price__footnote {
  display: block;
  font-size: 14px;
  color: #7E7E82;
}
.sec-price__footer {
  display: flex;
  padding: 24px 0 16px 20px;
}
.sec-price__a {
  display: flex;
  color: #1B1C21;
  font-weight: 300;
  padding-left: 20px;
  position: relative;
}
.sec-price__a::before {
  position: absolute;
  top: 9px;
  left: 316px;
  content: "";
  width: 8px;
  height: 8px;
  border-left: 3px solid #FF3E79;
  border-bottom: 3px solid #FF3E79;
  border-radius: 20%;
  transform: rotate(-135deg);
}

.price-list {
  padding: 20px;
  padding-top: 0;
}
.price-list__th {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .price-list__th {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .price-list__th {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.price-list__item {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 16px;
  margin-right: 16px;
  border-bottom: 1px solid #EAEAEA;
}
@media screen and (max-width: 768px) {
  .price-list__item {
    flex-direction: column;
    width: 260px;
    height: 200px;
  }
}
.price-list__services {
  width: 388px;
}
@media screen and (max-width: 768px) {
  .price-list__services {
    width: 100%;
  }
}
.price-list__ser {
  width: 388px;
}
.price-list__price {
  width: 82px;
}
@media screen and (max-width: 768px) {
  .price-list__price {
    width: 100%;
  }
}
.price-list__prc {
  width: 140px;
}
.price-list__price--one {
  padding-right: 32px;
}
@media screen and (max-width: 768px) {
  .price-list__price--one {
    width: 100%;
  }
}
.price-list__period--one {
  padding-right: 32px;
}
@media screen and (max-width: 768px) {
  .price-list__period--one {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .price-list__period {
    width: 100%;
  }
}
.price-list__prd {
  width: 82px;
}
.price-list__btn {
  display: block;
  position: relative;
  background-color: #FF3E79;
  border-radius: 35px;
  right: 32px;
  cursor: pointer;
  height: 32px;
  width: 136px;
  color: #FFF;
}

.footer__box {
  border-top: 1px solid #D9FFF5;
  color: #7E7E82;
  padding: 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 576px) {
  .footer__box {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .footer__one {
    justify-content: center;
  }
}
.footer__two {
  height: auto;
  text-align: center;
  color: #7E7E82;
  align-self: center;
  opacity: 85%;
  transition: 200ms ease-in-out;
}
.footer__two:hover {
  opacity: 100%;
}
.footer__three {
  text-align: right;
}

@media screen and (max-width: 992px) {
  .menu {
    transition: 200ms ease-in-out;
  }
  .menu__box {
    transition: 400ms ease-in-out;
    translate: 0;
  }
  .menu.open {
    visibility: visible;
    opacity: 100%;
  }
  .menu.open .modal__box {
    translate: 320px;
  }
}
.swiper-pagination-bullet {
  top: 80px;
  width: 12px;
  height: 12px;
  background-color: #DDD;
}

.swiper-pagination-bullet-active {
  background: #B5B6BC;
}

.swiper-paginationBrands, .swiper-paginationTech, .swiper-paginationPrice {
  display: flex;
  justify-content: center;
}
@media (min-width: 576px) {
  .swiper-paginationBrands, .swiper-paginationTech, .swiper-paginationPrice {
    display: none;
  }
}

.swiper-paginationPrice {
  top: 60px;
}/*# sourceMappingURL=index.css.map */